html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: Montserrat;
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition: 0.2s all ease-in-out;
}
.header::selection {
  background-color: transparent;
}
.header {
  display: flex;
  background-color: #1db954;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.logoImg {
  height: 2rem;
  margin: 1rem;
  display: inline-flex;
}
.loginButton {
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.button {
  background-color: #191414;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: 0.15s all ease-in-out;
}
.button:hover {
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.body {
  display: block;
  height: auto;
  margin: 1rem 20%;
  font-weight: 500;
  padding: 0.5rem;
  background-color: #1db954;
  border-radius: 5px;
}
.displayName{
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}
.loggedInInfo{
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  background-color:#191414;
  padding:1rem 2rem;
  border-radius: 2rem;
  color:white;
}
.songElement{
  margin:1rem 1rem;
  background-color: white;
  color:#191414;
  padding:1rem;
  border-radius: 1rem;
}
.songPreview{
  width: 100%;
  outline: none;
}
.songName{
  font-weight: 700;
}
.songArtist{
  font-style: italic;
}
.songMedia{
  display: flex;
  flex-direction: row;
}
.songImg{
  width: 54px;
}
.hidden{
  display: none !important;
}
.myInfo, .aboutTheApp{
  padding:0.5rem;
}

@media only screen and (max-width: 950px) {
  .body {
    margin:1rem 1rem;
  }
  .button{
    font-size:12px;
    padding:0.5rem 1rem;
  }
  .logoImg{
    height:1.5rem;
  }
}