html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: Montserrat;
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition: 0.2s all ease-in-out;
}
.header::selection {
  background-color: transparent;
}
.header {
  display: flex;
  background-color: #1db954;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.logoImg {
  height: 2rem;
  margin: 1rem;
  display: inline-flex;
}
.loginButton,
.logOutButton {
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.button {
  background-color: #191414;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: 0.15s all ease-in-out;
  border: 2px solid #191414;
}
.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #191414;
}
.body {
  display: block;
  height: auto;
  margin: 1rem 20%;
  font-weight: 500;
  padding: 0.5rem;
  padding-top: 0rem;
  background-color: #1db954;
  border-radius: 5px;
}
.displayName {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}
.loggedInInfo {
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  background-color: #191414;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
}
.songElement,
.artistElement {
  margin: 1rem 1rem;
  background-color: white;
  color: #191414;
  padding: 1rem;
  border-radius: 1rem;
}
.songPreview {
  width: 100%;
  outline: none;
}
.songName {
  font-weight: 700;
}
.songArtist {
  font-style: italic;
}
.songMedia {
  display: flex;
  flex-direction: row;
}
.songImg {
  width: 54px;
  margin: 0rem 1rem;
}
.hidden {
  display: none;
}
.myInfo,
.aboutTheApp {
  padding: 0.5rem;
}
.topSongs,
.topArtists {
  min-width: 7rem;
  height: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0rem 0.5rem;
  background-color: white;
  color: black;
  box-shadow: black 2px 2px 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.inactiveTab:hover {
  background-color: rgb(185, 185, 185);
}
.activeTab {
  background-color: #191414;
  color: white;
  box-shadow: none !important;
}
.artistLink {
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #1db954;
  padding: 1rem 2rem;
  border-radius: 1rem;
  max-height: 2rem;
  outline: none;
  transition: 0.1s all ease-in-out;
}
.artistLink:hover {
  transform: scale(1.04);
  background-color: #1ed760;
}
.artistName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.artistImg {
  height: 6rem;
}
.songLink {
  text-decoration: underline;
  color: inherit !important;
  outline: none;
  transition: 0.1s all ease-in-out;
}
.songLink:hover {
  text-decoration: none;
}
.bannerContainer {
  display: flex;
  justify-content: center;
  height: 3rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bannerContent {
  display: flex;
  background-color: rgb(156, 26, 26);
  color: white;
  border-bottom: 1px solid #191414;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.bannerText {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
}

/* Responsive settings */

@media only screen and (max-width: 1200px) {
  .body {
    margin: 1rem 10%;
  }
  .button {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
  .logoImg {
    height: 1.5rem;
  }
}

@media only screen and (max-width: 950px) {
  .body {
    margin: 1rem 1rem;
  }
  .button {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
  .logoImg {
    height: 1.5rem;
  }
}
