html,
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: Montserrat;
}
body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition: 0.2s all ease-in-out;
}
.header::selection {
  background-color: transparent;
}
.header {
  display: flex;
  background-color: #1db954;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.logoImg {
  height: 2rem;
  margin: 1rem;
  display: inline-flex;
}
.loginButton,
.logOutButton {
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.button {
  background-color: #191414;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: 500;
  transition: 0.15s all ease-in-out;
  border: 2px solid #191414;
}
.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #191414;
}
.body {
  display: block;
  height: auto;
  margin: 1rem 20%;
  font-weight: 500;
  padding: 0.5rem;
  padding-top: 0rem;
  background-color: #1db954;
  border-radius: 5px;
}
.displayName {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
}
.loggedInInfo {
  margin-right: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 700;
  background-color: #191414;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
}
.songElement,
.artistElement {
  margin: 1rem 1rem;
  background-color: white;
  color: #191414;
  padding: 1rem;
  border-radius: 1rem;
}
.songPreview {
  width: 100%;
  outline: none;
}
.songName {
  font-weight: 700;
}
.songArtist {
  font-style: italic;
}
.songMedia {
  display: flex;
  flex-direction: row;
}
.songImg {
  width: 54px;
  margin: 0rem 1rem;
}
.hidden {
  display: none;
}
.myInfo,
.aboutTheApp {
  padding: 0.5rem;
}
.topSongs,
.topArtists {
  min-width: 7rem;
  height: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0rem 0.5rem;
  background-color: white;
  color: black;
  box-shadow: black 2px 2px 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.inactiveTab:hover {
  background-color: rgb(185, 185, 185);
}
.activeTab {
  background-color: #191414;
  color: white;
  box-shadow: none !important;
}
.artistLink {
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #1db954;
  padding: 1rem 2rem;
  border-radius: 1rem;
  max-height: 2rem;
  outline: none;
  transition: 0.1s all ease-in-out;
}
.artistLink:hover {
  transform: scale(1.04);
  background-color: #1ed760;
}
.artistName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.artistImg {
  height: 6rem;
}
.songLink {
  text-decoration: underline;
  color: inherit !important;
  outline: none;
  transition: 0.1s all ease-in-out;
}
.songLink:hover {
  text-decoration: none;
}
.bannerContainer {
  justify-content: center;
  height: 3rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bannerContent {
  display: flex;
  color: white;
  border-bottom: 1px solid #191414;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.bannerText {
  padding: 0px;
  margin: 0px;
  font-weight: 600;
}
.player {
  position: fixed;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  bottom: 0;
  right: 0px;
  height: auto;
  width: 30%;
  max-width: 9rem;
  background-color: white;
  border: 1px solid black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.playerStatus {
  display: flex;
  align-content: space-between;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2rem;
  width: calc(100% - 1rem);
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.5rem;
  background-color: #1db954;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.playerStatus:hover {
  background-color: #1ed760;
}
.playerInfo {
  height: 100%;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: #1ed760;
}
.toggleButton {
  top: 15px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(-45deg);
  transition: 0.2s all ease-in-out;
}
.toggleSwitch {
  transform: rotate(-225deg);
}
.popupInfo {
  font-size: 0.6rem;
  margin-left: 1rem;
}
.currentArtistName {
  font-size: 0.7rem;
}
.currentSongName {
  font-weight: 700;
}
.controls {
  border-radius: 5px;
  padding: 0.5rem;
  padding-left: 0rem;
}
.controls:hover {
  cursor: pointer;
  background-color: #1db954;
}
.playNextButton {
  float: right;
  background-color: #1db954;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.playNextButton:hover {
  cursor: pointer;
  transform: scale(1.04);
  background-color: #1ed760;
}
.playerNext{
  padding:0.3rem;
  border-radius: 5px;
  font-size:0.7rem;
  border-top:1px solid black;
  border-bottom:1px solid black;
}
.playerNext:hover{
  cursor: pointer;
  background-color: #1db954;
}
.songInfo{
  margin:0.3rem;
}
.playerVolume {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background: #191414;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.playerVolume:hover{
  opacity: 0.9;
}
.playerVolume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border:1px solid black;
  background: #1db954;
  cursor: pointer;
}

.playerVolume:hover::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border:1px solid black;
  border-radius: 50%;
  background: #1db954;
  cursor: pointer;
}
/* Responsive settings */

@media only screen and (max-width: 1200px) {
  .body {
    margin: 1rem 10%;
  }
  .button {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
  .logoImg {
    height: 1.5rem;
  }
}

@media only screen and (max-width: 950px) {
  .body {
    margin: 1rem 1rem;
  }
  .button {
    font-size: 12px;
    padding: 0.5rem 1rem;
  }
  .logoImg {
    height: 1.5rem;
  }
}
